@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --bg: rgb(19, 20, 21);
  --bg-sec: rgb(30, 32, 36);
  --text: rgb(251, 251, 254);
  --orange: rgb(206, 145, 120);
  --green: rgb(106, 153, 85);
  --blue: rgb(86, 156, 214);
  --yellow: rgb(220, 220, 170);
  --purple: rgb(197, 134, 192);
  --font: "Inria Sans", monospace;
}

/* default values */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
}

body {
  background-color: var(--bg);
  font-family: var(--font);
  color: var(--text);
  user-select: none;
  line-height: 1.5rem;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* default values */

/* content layout */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2rem;
  position: relative;
}

.content1 {
  position: sticky;
  top: 1rem;
  align-self: start;
}

.content1,
.content2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content2 pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

.content1 .portfolio-title,
.content1 .skills,
.content2 .summary,
.content2 .info,
.content2 .experience,
.content2 .education,
.content2 .projects,
.content2 .certifications,
.content2 .hobbies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-sec);
  padding: 1rem;
  border-radius: 4px;
  font-family: "Inria Sans", monospace;
  white-space: pre-wrap;
  word-break: break-word;
}

.skills h3,
.content2 h3 {
  color: var(--yellow);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.keyword {
  color: var(--orange);
  font-weight: bold;
}
.type {
  color: var(--green);
  font-weight: bold;
}
.string {
  color: var(--blue);
}
.number {
  color: var(--purple);
}
.comment {
  color: var(--yellow);
}

/* content layout */

/* media queries */

@media (max-width: 950px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content1 {
    position: relative;
    top: auto;
    width: 100%;
  }

  .content2 {
    width: 100%;
  }

  .container {
    max-width: 100%;
    padding: 1rem;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    line-height: 1.3rem;
  }

  .content1 .portfolio-title,
  .content1 .skills,
  .content2 .summary,
  .content2 .info,
  .content2 .experience,
  .content2 .education,
  .content2 .projects,
  .content2 .certifications,
  .content2 .hobbies {
    padding: 0.7rem;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0.5rem;
  }

  .content1,
  .content2 {
    gap: 0.5rem;
  }

  .content1 .portfolio-title,
  .content1 .skills,
  .content2 .summary,
  .content2 .info,
  .content2 .experience,
  .content2 .education,
  .content2 .projects,
  .content2 .certifications,
  .content2 .hobbies {
    padding: 0.5rem;
    font-size: 13px;
  }
}

/* media queries */